.App {
  text-align: center;
}


.createuser{
  border:1px solid black;
}

input{
  width:250px;
  height:30px;
  margin:10px;
  margin-left: 25px;
}

button{
  width:80px;
  height:50px;
  font-size: 19px;
  border-radius: 5px;
  background-color: black;
  color:white;
  cursor:pointer;
  margin-bottom: 5px;
}

.box{
 margin:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

tr{
  font-size: 20px;
  height:30px;
}

table{
  border:1px solid black;
  border-radius:5px;
  margin:10px;
}